body{
    font-family: 'Open-sans', sans-serif;
    font-size: 17px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;

}
.container{
    margin: auto;
}
/*COMMON CLASSES*/
.primary-text{
    color: #56a79a;
}
.primary-background{
    background: #56a79a;
}

/*HEADER*/
#main-header{
    border-top: 1px solid #56a79a;
    border-bottom: 1px solid #56a79a;
}

/*NAVBAR*/

#navbar{
    text-transform: uppercase;
}
#navbar li{
    display: inline;
    padding-right: 20px;
    list-style: none;
}
#navbar a{
    text-decoration: none;
    color: #888;
}
#navbar li.current a, #navbar li a:hover{
    color: #56a79a;
    border-bottom: 3px solid #56a79a;
    padding-bottom: 3px;
}

#navbar li.greetings a, #navbar li.greetings a:hover{
    text-decoration: none;
    color: #888;
    cursor: default;
    border-bottom: none;
    padding-bottom: 0;
}

/*SHOWCASE*/
#showcase{
    background: url(../img/MainFrameBG.jpg) no-repeat center center;
    border-bottom: 1px solid #56a79a;
    margin-bottom: 30px;
}
#showcase .row{
    height: 600px;
}
#showcase h1{
    font-size: 40px;
    margin: 0;
    padding-bottom: 20px;
}
#showcase p{
    color: #ccc;
    margin: 0;
}
#showcase .showcase-content{
    background: #333;
    color: #fff;
    border-radius: 90px;
    padding: 40px;
    opacity: 0.9;
}

/*FEATURES*/
#features h2{
    font-size: 32px;
    margin: 0;
    padding-bottom: 10px;
}

#features p{
    color: #888;
    margin: 0;
    margin-bottom: 40px;
}
#features .fa{
    font-size: 60px;
    color: #56a79a;
}

/*Slideshow*/
#slideshow .mySlides {display:none}
#slideshow .w3-left, #slideshow .w3-right, #slideshow .w3-badge {cursor:pointer}
#slideshow .w3-badge {height:13px;width:13px;padding:0}
#slideshow {
    height: 600px;
    width: 100%;
    padding: 0;
    margin: 0;
    background: black url(../img/sliderBG.jpg);
}

#slideshow img{
    height: 600px;
    width: 1310px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);;
    border-radius: 30px;
    opacity: 0.9;
}
#slideshow h2{

    font-size: 30px;
    margin: 0;
    padding-bottom: 10px;
}

/*Company*/
#company{
    background: #333;
    padding: 10px 0;
    color: #fff;
}
#company form{
    padding: 20px 0;
}
#company h4{
    text-transform: uppercase;
    margin-bottom: 0;
}
#company ul{
    padding: 0;
    list-style: none;
    line-height: 2em;
}
#company input[type="text"]{
    padding: 7px;
}
#company button{
    background: #222;
    color: #fff;
    margin: 10px;
    padding: 10px;
    border: 0;
}

/*Footer*/
#main-footer{
    background: #56a79a;
    color: #fff;
}

/*Page*/
#page {
    margin-bottom: 40px;
}

/*STORE*/

.item ul li{
    list-style: none;
    padding: 10px;
}

.item ul li:nth-child(odd){
    background: #333;
    color: #fff;
}
.item ul li:nth-child(even){
    background: #56a79a;
    color: #fff;
}

/*Login*/
.login form{
background: #333;
    color: #fff;
    padding: 20px;
}
.login form[type="text"]{
    width: 50%;
    height: 30px;
    margin-bottom: 10px;
}
.login form button{
    width: 50%;
    padding: 10px 0;
    border: 0;
    background: #222;
    color: #fff;
}
.login form label{
    text-transform: uppercase;
}
#error-message{
    font-size: 10px;
    color: black;
    padding: 0;
    margin: auto;
}
.login a{
    font-size: 10px;
    text-decoration: none;
    color: #888;
}
.login a:hover{
    color: #56a79a;
    border-bottom: 1px solid #56a79a;
    padding-bottom: 1px;
}

/*Media Queries*/
@media(max-width: 800px){
    #showcase h1{
        font-size: 20px;
    }
}
@media(max-width: 500px){
    #showcase .showcase-content{
        padding: 40px 10px;
    }
}

